<div class="container-fluid">
  <div class="side-body">
      <div class="container fadeIn first">
          <div class="column">
              <br>
              <div id="ballot" class="table shadow p-3 mb-5 bg-white rounded">
                  <div id="">
                      <br>
                      <div class="rounded-lg" style="background-color: #f9b812">
                          <h2 align="center" class="text-black-50 ">Products</h2>
                      </div>
                      <table class="table" id="group1">
                          <tr class="thead-light">
                              <th *ngFor="let header of headers" scope="col">{{header}} </th>
                          </tr>
                          <tr *ngFor="let product of products; let i = index">
                              <td>{{i+1}}</td>
                              <td>{{product.p_name}}</td>
                              <td>{{product.p_desc}}</td>
                              <td>{{product.p_price}}</td>
                              <td><input type="button" value="add to cart" (click)="add_to_cart(product.p_id, 1)"/></td>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>
          <button>go to cart</button>
      </div>

  </div>
</div>